<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Activity5" >
    <test name="ExcludeHeaderTestsGroups" >
        <groups>
            <run>
                <exclude name="HeaderTests"/>
            </run>
        </groups>
        <classes>
            <class name="Activities.Activity5"/>
        </classes>
    </test>
</suite>

<!--<suite name="Activity5" >-->
<!--    <test name="ButtonTestsGroups" >-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="ButtonTests"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="Activities.Activity5"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<suite name="Activity5" >-->
<!--    <test name="HeaderTestsGroups" >-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="HeaderTests"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="Activities.Activity5"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<suite name="Activity5" >-->
<!--    <test name="AllActivities" >-->
<!--        <classes>-->
<!--            <class name="Activities.Activity5"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<suite name="Activity4" >-->
<!--    <test name="SuiteTests" >-->
<!--        <classes>-->
<!--            <class name="suiteExample.DemoOne"/>-->
<!--            <class name="suiteExample.DemoTwo"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->


<!--<suite name="MyFirstSuite" parallel="tests">-->
<!--    <test thread-count="2" name="Test">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="ButtonTests"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="Examples.GroupingDemo"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test thread-count="4" name="secondTest" parallel="classes">-->
<!--        <classes>-->
<!--            <class name="Examples.PriorityDemo">-->
<!--                <methods>-->
<!--                    <include name="Two"/>-->
<!--                    <include name="Four"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Activities.Activity1"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite> &lt;!&ndash; Suite &ndash;&gt;-->

